body {
	background: #036;
	color: white;
}
a:link {
	color: #69C;
}
a:visited {
	color: #0CC;
}
a:active {
	color: #9FF;
}
input {
	background: #69F;
	color: #3FF;
	border: 1px solid transparent;
	padding: 1px;
}
/* サイコロ画像群 */
div.dice {
	/* サイコロの幅×５＋１以上を指定 */
	width: 101px;
}
span.die1 {
	position: relative;
	display: block;
	float: left;
	width:20px;
	height:20px;
	overflow: hidden;
	background: url(midnight/die1.gif);
}
span.die2 {
	position: relative;
	display: block;
	float: left;
	width:20px;
	height:20px;
	overflow: hidden;
	background: url(midnight/die2.gif);
}
span.die3 {
	position: relative;
	display: block;
	float: left;
	width:20px;
	height:20px;
	overflow: hidden;
	background: url(midnight/die3.gif);
}
span.die4 {
	position: relative;
	display: block;
	float: left;
	width:20px;
	height:20px;
	overflow: hidden;
	background: url(midnight/die4.gif);
}
span.die5 {
	position: relative;
	display: block;
	float: left;
	width:20px;
	height:20px;
	overflow: hidden;
	background: url(midnight/die5.gif);
}
span.die6 {
	position: relative;
	display: block;
	float: left;
	width:20px;
	height:20px;
	overflow: hidden;
	background: url(midnight/die6.gif);
}
/* エラーメッセージ */
div.attention {
	color: #69C;
	font-weight: bold;
	white-space: nowrap;
}
/* 操作メッセージ */
div#txtMessage {
	color: #0CF;
	font-weight: bold;
	white-space: nowrap;
}
/* 表基本 */
table {
	border-collapse: collapse;
}
table th {
	color: white;
	white-space: nowrap;
}
table td {
	color: white;
	white-space: nowrap;
}
table.grid caption {
	border: 1px solid #69C;
	background: #0CC;
	color: black;
	font-weight: bold;
}
table.grid th {
	border-collapse: collapse;
	border: 1px solid #69C;
	background: #CFF;
	color: black;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
table.grid td {
	border-collapse: collapse;
	border: 1px solid #69C;
	background: #CFF;
	color: black;
	white-space: nowrap;
}
/* 行ヘッダ */
table.grid th.header {
	background: #0FC;
	color: black;
	text-align: center;
}
/* 集計行 */
table.grid tr.total th, table.grid tr.total td {
	background: #9CF;
	color: black;
}

/*
 * ランキングページ用
 */
/* 基本 */
table.ranking caption {
	border: 1px solid #69C;
	background: #0CC;
	color: black;
	font-weight: bold;
}
table.ranking th, table.ranking td {
	border-collapse: collapse;
	border: 1px solid #69C;
}
table.ranking th.header {
	background: #6F9;
	color: black;
	text-align: center;
}
/* 奇数行 */
table.ranking tr.odd th, table.ranking tr.odd td {
	background: #CFF;
	color: black;
}
/* 偶数行 */
table.ranking tr.even th, table.ranking tr.even td {
	background: #9CF;
	color: black;
}
/* 明細 */
table.detail th {
	text-align: left;
}
table.detail th.header {
	background: #069;
	color: white;
	text-align: center;
}
/* 奇数行 */
table.detail tr.odd th, table.detail tr.odd td {
	background: #339;
	color: white;
}
/* 偶数行 */
table.detail tr.even th, table.detail tr.even td {
	background: #009;
	color: white;
}
